.main-wrapper {
    display: block; 
    max-width: 900px; 
    margin: auto;
}

.main-wrapper h1{
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
}

.button-section{
	display: block; 
	max-width: 840px; 
	margin: auto; 
}


.animal-button{
	width: calc(100%/2 - 5px);
    margin: 10px 0px;
    height: 50px;
    color: #fff;
    background-color: #2196F3;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
}

.animal-button:hover {
	cursor: pointer;
	background-color: #7abcf1;
}

.animal-button.is-active{
	background-color: #0665b1;
}

@media only screen and (max-width: 375px) {
  .animal-button{
	width: 100%;
	}
}

#dialog{
	display: none;
}

.ui-dialog{
	position: absolute !important;
    height: auto !important;
    width: 98% !important;
    top: 5px !important;
    left: 10px !important;
}

.facts-section{
	width: 100%; 
	border: solid 1px #9c9c9c; 
	border-radius: 10px; 
	margin-bottom: 5px
}

.statement{
	margin-top:5px;
	margin-bottom:0px; 
	margin-left: 5px
}

.substatement{
	margin-top:0px;
	margin-bottom:5px; 
	margin-left: 5px
}